@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #f7f2e9;
  box-sizing: border-box;
}

.App__nav {
  background-color: #0c0e36;
  padding: 2rem;
  margin: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.2);
}

.App__nav-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: white;
}

.App__logo {
  display: flex;
  gap: 0.2rem;
}

.App__logo-icon {
  font-size: 2.3rem;
  line-height: 1;
}

.App__search {
  padding: 0.3rem;
}

.App__grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 3.2rem;
}

.App__num-results {
  justify-self: end;
}
